version: '3.8'

services:
  tad-app:
    container_name: tad-web-app
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - PORT=8080
      - NODE_ENV=production
    restart: always